<nav class="sticky-top bg-body">
    <div class="container col-md-auto">
        <ul style="list-style: none;">
            <br>
            <br>
            <li>
                <a class="navbar-brand" href="<%= twitters_path %>">
                    <img src="<%= asset_path "im.jpg" %>" alt="Clon twitter" width="50" height="50">
                </a>
            </li>
            <br>
            <br>
            <li>
                <a class="navbar-brand" href="<%= @twitter %>">
                    <img src="<%= asset_path "buscar.jpg" %>" alt="Buscar" width="50" height="50">
                </a>
            </li>
            <br>
            <br>
            <li>  
                <a class="navbar-brand margin" href="#">
                  <img src="<%= asset_path "campana.jpg" %>" alt="Los nuevos" width="50" height="50">
                </a>
            </li>
            <br>
            <br>
            <li>  
                <a class="navbar-brand" href="<%= new_twitter_path %>">
                  <img src="<%= asset_path "nuevo.jpg" %>" alt="Crear nuevo" width="50" height="50">
                </a>
            </li> 
        </ul>        
    </div>
</nav>