<p style="color: green"><%= notice %></p>

  
  
<div class="border">
  <%= render @twitter %>

  <div>
    <%= link_to "Editar Twitt", edit_twitter_path(@twitter) %> |
    <%= link_to "A Home", twitters_path %>
    
    <%= button_to "Destruir twitt", @twitter, method: :delete %>

  </div>
</div>
